@import url('https://fonts.googleapis.com/css?family=Work+Sans:800&display=swap');
$light-orange: #f0a500;
$dark-orange: #cf7600;
$platinum: #eaeaea;
$byellow: #f7ffdd;
.container {
	background-color: #eaeaea;
	padding: 0 15px;
	margin: 0 auto;
	@media (min-width: 768px) {
		width: 750px;
	}
	@media (min-width: 992px) {
		width: 970px;
	}
	@media (min-width: 1200px) {
		width: 1170px;
	}
}
.start {
	&-people {
		width: 175px;
		height: auto;
		bottom: 30%;
		z-index: 10;
		right: 30%;
		position: absolute;
		& > img {
			height: 100%;
			width: 100%;
		}
	}
	&-house {
		position: absolute;
		bottom: 35%;
		right: 10%;
		height: auto;
		width: 450px;
		& > img {
			height: 100%;
			width: 100%;
		}
	}
	&-sun {
		position: absolute;
		top: 10%;
		left: 20%;
		width: 200px;
		height: 200px;
		& > img {
			height: 100%;
			width: 100%;
		}
	}
	&-text {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		font-family: 'Work Sans';
		width: 40vw;
		max-width: 800px;
		&_button {
			margin-top: 20px !important;
			background-color: $light-orange !important;
		}
		&_title {
			color: $light-orange;
			font-size: 55px;
			line-height: 120%;
			font-weight: 800;
		}
		&_body {
			margin-top: 20px;
			font-size: 25px;
			color: #5d5b6a;
			line-height: 100%;
		}
	}
	padding-top: 60px;
	box-sizing: border-box;
	height: 100vh;
}
